<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://docs.djangoproject.com/en/4.1/intro/overview/" target="_blank" class="nav-link px-2 text-muted">Learn django</a></li>
      <li class="nav-item"><a href="https://docs.aws.amazon.com/whitepapers/latest/aws-overview/introduction.html" target="_blank" class="nav-link px-2 text-muted">Learn AWS</a></li>
      <li class="nav-item"><a href="https://flask.palletsprojects.com/en/2.2.x/quickstart/" target="_blank" class="nav-link px-2 text-muted">Learn Flask</a></li>
      <li class="nav-item"><a href="https://reactjs.org/docs/getting-started.html" target="_blank" class="nav-link px-2 text-muted">Learn React</a></li>
      <li class="nav-item"><a href="https://nodejs.dev/en/learn/" target="_blank" class="nav-link px-2 text-muted">Learn Nodejs</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 {{company_name}}, Inc</p>
  </footer>
</div>